@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&family=Silkscreen:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Paytone One", sans-serif;
}

body {
  background-size: 400% 400%;
  height: 100vh;
  background-image: url(https://media.giphy.com/media/3ohhwI1UwcO0Cu87sY/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: url(https://cdn.custom-cursor.com/db/7670/32/starter-minimal-burger-cursor.png),
    auto;
}

.burger_foot {
	-webkit-animation: burger_foot 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: burger_foot 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.burger_head {
	-webkit-animation: burger_head 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: burger_head 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes burger_foot {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
      

              -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes burger_foot {
    0% {
   
              -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
  }
  


@-webkit-keyframes burger_head {
    0% {

              -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
  }
  @keyframes burger_head {
    0% {
   
              -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
  }
  


/* ------------------------- HEADER ------------------------- */

header {
  background: rgba(253, 59, 45, 0.1);
  backdrop-filter: blur(15px);
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 10vh;
}


/* ------------------------- MAIN ------------------------- */

main {
  background: rgba(253, 59, 45, 0.1);
  backdrop-filter: blur(10px);
  height: 74vh;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 100%;
  /* border: 5px red solid; */
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

/* ------------------------- MAIN: Card_header ------------------------- */

.card_header {
  background-image: url(./img/burger_header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  padding: 60px;
}

.title {
  text-align: center;
  font-size: 30px;
}

.final {
    text-align: center;
    font-size: 50px;
    padding-bottom: 5px; 
}

#question {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
.leader {
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
}

/* ------------------------- MAIN: Card_main ------------------------- */

.card_main {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3%;
  column-gap: 2%;
  align-items: center;
}

.btn {
  width: 49%;
  height: 45%;
  background: #9e5528;
  border: 3px solid #000000;
  font-size: 20px;
  border-radius: 50px;
  cursor: url(https://cdn.custom-cursor.com/db/7669/32/starter-minimal-burger-pointer.png),
    auto;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.end-btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.correct {
  background: #1eb300;
}

.wrong {
  background: #ea1313;
}

/* ------------------------- MAIN: Card_footer ------------------------- */

.card_footer {
  background-image: url(./img/burger_footer.png);
  background-size: 100% 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 30%;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
}

.show-board {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.show-board-index {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: #000000;
}

.end-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", cursive;
  color: black;
  font-size: 25px;
  width: 30%;
  height: 50%;
  /*border: 3px solid black;*/
  border-radius: 50px;
  text-decoration: none;
  background-color: #fd8f31;
  cursor: url(https://cdn.custom-cursor.com/db/7669/32/starter-minimal-burger-pointer.png),
    auto;
}

.show-question {
  text-align: center;
  /* margin: 0.3rem;     */
}

.board-text {
  font-size: 2rem;
  margin-top: 3px;
}

#progressBar {
  width: 13.5rem;
  height: 2rem;
  border: 0.2rem solid black;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 5px;
}
#progressBarFull {
  height: 100%;
  background: #9e5528;
  width: 0%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}
/* ------------------------- FOOTER ------------------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: rgba(253, 59, 45, 0.1);
  backdrop-filter: blur(15px);
  height: 7vh;
  width: 100%;
  bottom: 0;
}
footer p {
  text-align: center;
  font-family: "Paytone One", sans-serif;
  color: white;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

/* ------------------------- END Page ------------------------- */

.end-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9e5528;
  border: 3px solid #000000;
  border-radius: 50px;
  padding: 15px 0 15px 0;
  justify-content: center;
}

#result {
  color: #fff;
  font-size: 2.2rem;
}
input {
  margin-bottom: 1rem;
  width: 5rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(0, 0, 0, 0.5);
}

input::placeholder {
  color: #aaa;
}

#userName {
  width: 70%;
  border-radius: 50px;
  outline: none;
  text-align: center
}

#end-text {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  font-size: 30px;
}

#saveScoreBtn {
  border: none;
}

#end-btn {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
}

/* ------------------------- Score Board Page ------------------------- */

#highScores {
  width: 100%;
}

#highScoresList {
  width: 100%;
  list-style: none;
  margin-bottom: 1.8rem;
  color: #fff;
  font-size: 2rem;
  background: #9e5528;
  border: 3px solid #000000;
  border-radius: 50px;
  padding: 10px;
}

.scoreBoard {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finalScores {
  font-size: 3rem;
  margin-bottom: 1.9rem;
  color: black;
}

@media screen and (max-width: 900px) {
  /* ------------------------- HEADER ------------------------- */

  header {
    height: 7vh;
    padding: 3px;
  }

  .logo {
    height: 90%;
    width: 70px;
  }

  /* ------------------------- MAIN ------------------------- */

  main {
    height: 80%;
    margin-top: 1rem;
  }

  .card {
    width: 90%;
    /* padding-top: 16px; */
  }

  /* ------------------------- MAIN: Card_header ------------------------- */

  .title {
    font-size: 100%;
  }

  #question {
    font-size: 100%;
    padding-top: 0px;
    
  }

  .card_header {
    padding: 55px;
  }

  .final {
    font-size: 100%;
  }

  .leader {
    font-size: 20px;
    font-weight: bold;
  }

  /* ------------------------- MAIN: Card_main ------------------------- */

  .card_main {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .btn {
    width: 95%;
    height: 24%;
    border: 7px solid black;
    font-size: 16px;
  }

  #end-text {
    font-size: 100%;
  }

  #userName {
    width: 80%;
    height: 20%;
  }

  #highScoresList {
    font-size: 100%;
  }

  /* ------------------------- MAIN: Card_footer ------------------------- */

  .card_footer {
    height: 25%;
  }

  .score {
    display: none;
  }

  .end-btn {
    font-size: 90%;
    height: 40%;
  }

  #progressText {
    font-size: 50%;
  }

  #progressBar {
    width: 7rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
  }

  /* ------------------------- FOOTER -------------------------- */

 .footer_logo img {
    height: 60%;
 }
}

  

@media screen and (min-width: 1530px) {
  #question {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
  }

  .card_header {
    padding-left: 70px;
    padding-right: 70px;
  }

  .final {
    font-size: 2rem;
  }

  .leader {
    font-size: 2rem;
  }

  #highScoresList {
    font-size: 1.6rem;
  }
}